.bg_main {
  background-color: #222a34;
  width: 600px;
  height: 473px;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px black;
  position: relative;
}

.close_icon {
  position: absolute;
  top: 10px;
  left: 10px;
}

.header_title {
  color: white;
  text-align: right;
  margin-right: 15px;
  padding-top: 10px;
  font-size: 20px;
  font-family: aduma;
}

.btn_upload {
  background-color: #475366;
  color: white;
  border: 0;
  font-size: 11px;
  padding: 8px;
  border-radius: 20px;
  padding-left: 35px;
  padding-right: 10px;
  margin-left: 20px;
  background-image: url("./assets/Upload.png");
  background-repeat: no-repeat;
  background-position: 10px;
}

.small_text {
  color: white;
  position: absolute;
  top: 40px;
  left: 152px;
  font-size: 9px;
  direction: rtl;
}

.middle_screen {
  width: 100%;
  height: 67%;
  position: absolute;
  top: 67px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.left_side,
.right_side {
  background-color: #2f3a4b;
  height: 95%;
  border-radius: 4px;
  padding-top: 55px;
}

.left_side {
  width: 80%;
  margin-left: 5px;
  position: relative;
}

.right_side {
  width: 30%;
  margin-right: 5px;
}

.left_side_in,
.right_side_in {
  background-color: #161b21;
  height: 83%;
}

.eula_text {
  position: absolute;
  color: #ffffffc2;
  font-size: 9px;
  left: 211px;
  bottom: 19px;
}

.btn_eula {
  background-color: #475366;
  color: white;
  border: 0;
  font-size: 11px;
  padding: 8px;
  border-radius: 20px;
  padding-left: 35px;
  padding-right: 10px;
  margin-left: 9px;
  margin-top: 10px;
  background-image: url("./assets/eula.png");
  background-repeat: no-repeat;
  background-position: 10px;
  cursor: pointer;
}

.footer {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: -5px;
  display: flex;
  justify-content: center;
  gap: 11px;
}

.logo {
  padding: 10px;
  width: 127px;
  height: 30px;
  margin-left: 6px;
  margin-top: 5px;
}

.banner {
  padding: 10px;
  width: 426px;
  height: 39px;
}

.tabs {
  position: absolute;
  color: white;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row-reverse;
  margin-top: 15px;
}

.tab_no_bg,
.tab_with_bg {
  font-size: 20px;
  font-family: "aduma";
  width: 118px;
  text-align: center;
  cursor: pointer;
}

.tab_no_bg {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAB+SURBVHgBrZDRDcAgCEQdoSM4giMwihu0G9QR3KQjWkyguVBq+KjJhYg8OEnprzPGKBKzRMJ8BIwBAJJpEAZ9QL3bYlZn1RVYDHBoQwQ/LcwJ5p1Y58sRgnMKrp11Sb6uJpGAJMAGDXcPJCho9i+PdQfIAFa4N2/T7hGwK3ADfsHQbfttVAYAAAAASUVORK5CYII=);
  background-repeat: no-repeat;
  background-position: 90px 7px;
  padding-bottom: 12px;
}

.tab_with_bg {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACrSURBVHgBlU/BEcIwDHN6+ZMRsgErdIRuAJvQDcoIZYOyQUeADcoGZYIgFeUuD+5IdefIcWTLMdsJl1IawM9K/dHjeDvnxho1hvdNhWhAXPO9KR66H+IAWovcvC4X+/4ngmes+GAdvKJ2Y5PyzeGEeKHQgxdE5K6IlgNQXyjOrnS450+DJznSgW4dpwKT9AefdyzBqXKbtWarp+jtD9Q8ynlrCEjOVodge/EB0GdUSPBV9r0AAAAASUVORK5CYII=);
  background-repeat: no-repeat;
  background-position: 81px 8px;
  padding-bottom: 12px;
}

.selected_tab {
  border-bottom: 4px solid #a51c9a;
}

.eula_text_popup {
  position: absolute;
  background-color: white;
  color: black;
  height: 200px;
  width: 308px;
  text-align: center;
  margin: 0 auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border-radius: 10px;
}

.download_text_popup {
  position: absolute;
  background-color: white;
  color: black;
  height: 133px;
  width: 308px;
  text-align: center;
  margin: 0 auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border-radius: 3px;
}

.layout {
  background-color: #161b21c2;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.close_img {
  position: absolute;
  top: 10px;
  left: 8px;
  cursor: pointer;
}

.download_folder {
  width: 40px;
  padding: 5px;
  position: relative;
  top: -64px;
  left: 128px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 1px 1px 5px #80008026;
}

.download_approve_text {
  position: absolute;
  font-family: "Aduma";
  font-size: 29px;
  top: 37px;
  left: 109px;
  color: #030380de;
}

.download_question {
  position: absolute;
  font-size: 14px;
  top: 85px;
  left: 112px;
  color: #030380de;
  direction: rtl;
}

.not_robot_cont {
  width: 124px;
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  top: 126px;
  left: 174px;
  font-size: 9px;
  color: #030380de;
}

.not_robot_img {
  width: 11px;
  height: 11px;
  margin-right: 13px;
  margin-top: 1px;
}

.cancel_download_btn,
.approve_download_btn {
  border-radius: 22px;
  font-family: "aduma";
  height: 24px;
}

.cancel_download_btn {
  color: #030380de;
  width: 85px;
  border: 1px solid #030380de;
  background: transparent;
  cursor: pointer;
}

.approve_download_btn {
  width: 100px;
  color: white;
  border: 0;
  background: linear-gradient(45deg, #a51c9a, #61dafb);
  cursor: pointer;
}

.download_btn_cont {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 14px;
  bottom: -68px;
}

.noRobotErr {
  color: red;
  margin-top: 76px;
  font-size: 9px;
}

.input_upload {
  display: none;
}

.upload_err_msg {
  color: red;
  z-index: 55555;
  position: absolute;
  left: 177px;
  top: 52px;
  font-size: 8px;
}

.loader {
  position: absolute;
  left: 198px;
  top: 171px;
  width: 40px;
  height: 40px;
}

.download_popup_err {
  color: red;
  position: absolute;
  font-size: 9px;
  right: 13px;
  top: 63px;
}
